<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TCDSCarouselFigure-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>843BA5DD1D12A2F700515DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843BA5F91D12A2F700515DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843BA6041D12A2F700515DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
